<div class="container">
    <div class="row">
        Select City:
        <select name="city" id="city" (change)="onChange($event.target.value)">
            <option value="Kiev">Kiev</option>
            <option value="Lviv">Lviv</option>
            <option value="Odessa">Odessa</option>
        </select>
    </div>
    <div class="row">
        <h1>Temperature</h1>
        <canvas baseChart width="100%" height="40"
                [datasets]="data"
                [labels]="labels"
                [options]="options"
                [colors]="colors"
                [legend]="legend"
                [chartType]="chartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="row">
        <h1>Application data</h1>
        <div class="row flex-row">
            <div class="col">
                <h3>Weather conditions</h3>
                <ul class="days">
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                </ul>
            </div>
            <div class="col">
                <h3>Humidity</h3>
                <ul class="days">
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                </ul>
            </div>
            <div class="col">
                <h3>Wind speed</h3>
                <ul class="days">
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                    <li class="day"><span class="label">Label</span><span class="content">Content</span></li>
                </ul>
            </div>
        </div>

    </div>
</div>